body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #aaa;
  background-color: #111;
}
.brand {
  font-weight: 100!important;
  font-size: 30px!important;
}
.brand img {
  height: 36px;
  vertical-align: text-bottom;
}
.right-menu {
  margin-top: 4px;
}
.navbar-inner {
  border: none;
  border-bottom: 1px solid #dedede;
  border-radius: 0;
}
h1, h2, h3, h4 {
  font-weight: 300;
}
b {
  font-weight: 400;
}
.gray {
  color: #999;
}
.hemlis_blue {
  color: #629CD4;
}
.hemlis_blue img {
  height: 65px;
  vertical-align: text-bottom;
}
.hemlis_blue_back {
  background: #629CD4;
  color: #fff;
  text-shadow: none;
}
.hemlis_blue_back:hover {
  background: #6CA5D3;
  color: #fff;
  text-shadow: none;
}
.opacify {
  opacity: 0.8;
  font-size: 15px;
  line-height: 20px;

}
.opacify:hover {
  opacity: 1;
}
.opacify img {
  width: 100px;
}
.pointer {
  cursor: pointer;
}
.play {
  display: none; opacity: 0;
  height:527px;
  padding-top:50px;
}
.margin-top-0 {
  margin-top: 0px;
}  
.margin-bottom-0  {
  margin-bottom: 0px;
}
.margin-top-50 {
  margin-top: 50px;
}  
.margin-bottom-50  {
  margin-bottom: 50px;
}
.margin-top-70 {
  margin-top: 70px;
}  
.margin-bottom-70  {
  margin-bottom: 70px;
}
.margin-top-100 {
  margin-top: 100px;
}  
.margin-bottom-100  {
  margin-bottom: 100px;
}
.width100 {
  width: 100px;
}
.fund {
  height: 65px;
  font-size: 34px!important;
  line-height: 40px;
  border: none;
}
.fund img {
  width: 29px;
}
.fund:first-child, .fund:last-child {
  border-radius: 12px!important;
}
.sum {
  margin: 20px 0 0;
}
.divider {
  background: url(../img/divider.png) center top no-repeat;
  height: 1px;
}
.email, .dollar {
  border-color: #629CD4!important;
  font-family: 'Lato', sans-serif;
  border-radius: 15px 0 0 15px!important;
  font-weight: 100!important;
  padding-left: 10px!important;
  font-weight: 300!important;
  color: #000!important;
}
.dollar {
  border-radius: 0 15px 15px 0!important;        
}
.email_button, .dollar_button {
  border-radius: 0 15px 15px 0!important;
  background-color: #629CD4!important;
  background-image: url('https://heml.is/img/arrow_forward.png')!important;
  background-repeat: no-repeat!important;
  background-position: center center!important;
  background-size: 18px;
  border-color: #629CD4!important;
}
.dollar_button {
  border-radius: 15px 0 0 15px!important;
  color: #fff!important;
  background-image: none!important;
}
.tiny {
  font-size: 12px;
  font-weight: 300;
}
.ui-mocks img {
  width: 800px;
  margin-left: 200px;
}
.appstore img {
  width: 150px;
  margin-left: 15px;
  margin-bottom: 15px;
}
#player_area, #player {
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}
.modal-backdrop {
  background-color: #fff!important;
}
.modal-header, .modal-body {
  padding: 15px 30px!important;
}
.codeemail {
  border-color: #629CD4!important;
  font-family: 'Lato', sans-serif;
  border-radius: 15px!important;
  font-weight: 100!important;
  padding-left: 10px!important;
  color: #000!important;
  font-weight: 300!important;
}
.pay {
  height: 46px;
  width: 120px;
  font-size: 24px!important;
  line-height: 30px;
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 100!important;
  border-radius: 15px!important;
  margin: 0 5px;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-submenu:focus > a {
  background: #629CD4!important;
  background-color: #629CD4!important;
  background-image: #629CD4!important;
}
.btn-group.open .btn.dropdown-toggle {
  background: #629CD4!important;
  background-color: #629CD4!important;
  background-image: #629CD4!important;
  color: #fff!important;
}
.footer {
  padding-top: 50px;
}
.footer b {
  font-size: 19px;
}
.footer p {
  font-size: 17px;
  font-weight: 300;
}
a:visited, a:hover, a:active, a:link {
  outline: none;
}
.btn:focus{outline:none;}
